PORT=5000
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/bus_aggregator
JWT_ACCESS_SECRET=intercity_bus_aggregator_secret_access_key_bsuir_2026
JWT_REFRESH_SECRET=intercity_bus_aggregator_secret_refresh_key_bsuir_2026
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
CORS_ORIGIN=*
